body {
    background-color: rgb(31, 31, 31);
}

button {
    cursor: pointer;
    font-family: 'Bungee';
    background-color: black;
    color: #ABFF4F;
}

button:hover {
    color: #D93DAA;
}

img {
    max-height: 80px;
}

/* --- index-html --- */

#user-input {
    display: none;
}

#login-container {
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(64, 63, 63);
    width: 25rem;
    margin: 10px auto;
    position: relative;
    top: 40px;
    border: 2px white solid;
    padding: 20px;
    text-align: center;
}

#login-headline {
    cursor: pointer;
    background-color: black;
    color: #ABFF4F;
    width: fit-content;
    padding: 20px;
    position: relative;
    margin: 10px auto;
    font-family: 'Bungee';
}

#user-submit {
    position: relative;
    top: 10px;
    margin-bottom: 10px;
    display: flex;
    margin: 10px auto;
}

#username-input {
    font-family: 'IBM Plex Mono';
}

#username-label,
#password-label {
    font-family: 'Bungee';
    display: flex;
    margin: 5px;
    flex-direction: column;
}

#user-choice {
    text-align: center;
    padding: 20px;
}

#user-choice>button {
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Bungee';
    background-color: black;
    color: #ABFF4F;
}

#user-choice>button:hover {
    color: #D93DAA;
}

.avatarDiv>img {
    cursor: pointer;
    padding: 15px;
}

.avatarDiv>img:hover {
    margin: -1px;
    border: #D93DAA 1px solid;
}

.selectedAvi {
    margin: -1px;
    border: white 1px solid;
}

.errorMessage {
    color: #ABFF4F;
    font-family: 'Bungee';
    font-size: small;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* --- --- */


/* --- homepage, profile & profileViewer --- */

#headline-profile {
    background-color: black;
    color: #ABFF4F;
    width: fit-content;
    padding: 20px;
    font-family: 'Bungee';
    position: absolute;
    top: 0px;
    left: 30px;
}

#user-info {
    background-color: #403f3f;
    position: absolute;
    width: 12rem;
    text-align: center;
    top: 183px;
    font-family: 'Bungee';
    font-size: small;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
    left: 38px;
    color: #D93DAA;
}


#post-div {
    text-align: center;
    padding: 40px;
    background-color: black;
    color: #ABFF4F;
    width: 45vw;
    position: relative;
    margin: 10px auto;
    top: 70px;

}

#post-div>p {
    font-family: 'Bungee';
    margin: 0;
}

#post-div>input {
    height: 30px;
    width: 500px;
    padding: 10px;
    margin: 10px;
    font-family: 'IBM Plex Mono';
    color: #59D2FE;
    background-color: #403f3f;
}

#post-div>button {
    height: 40px;
    cursor: pointer;
    background-color: black;
    color: #D93DAA;
    border: 1px white solid;
}

#post-div>h1 {
    font-family: 'Bungee';
    font-size: medium;
    padding-bottom: 10px;
}

#all-posts {
    padding: 20px;
    background-color: #403f3f;
    font-family: 'IBM Plex Mono';
    color: #59D2FE;
}

#all-posts>div {
    text-align: left;
    padding: 20px;
    border-bottom: white 2px solid;
    margin: 10px;
}


.homepagePost {
    display: flex;
    align-items: center;
}

.homepagePost>h3 {
    font-family: 'Bungee';
    padding-left: 10px;
    padding-right: 60px;
    color: #D93DAA;
}

.homepagePost>p {
    color: #59D2FE;
    font-family: 'IBM Plex Mono';
}


#user-list {
    font-family: 'Bungee';
    background-color: black;
    color: #ABFF4F;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 15rem;
    text-align: right;
    display: grid;
    height: 100vh;
    overflow: auto;
}

#user-list>div {
    padding: 10px;
    font-size: large;
    display: inline-flex;
    height: 80px;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    color: #D93DAA;
    cursor: pointer;
}

#user-list>div:hover {
    background-color: #403f3f;
    color: #59D2FE;
}

#user-list>h2 {
    padding: 10px;
    text-align: center;
    flex-basis: 15rem;
}

#user-list>img {
    width: 30px;
}



#my-page-btn,
#homepage-btn {
    position: absolute;
    top: 275px;
    left: 46px;
    z-index: 1;
    width: 11rem;
    background-color: black;
    color: #ABFF4F;
    cursor: pointer;
}

#log-out-btn {
    background-color: black;
    color: #ABFF4F;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
}

#delete-btn {
    background-color: black;
    color: #ABFF4F;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 90px;
}

#my-page-btn:hover,
#homepage-btn:hover,
#log-out-btn:hover,
#delete-btn:hover {
    color: #D93DAA;
}

/* --- --- */